*{
  width: 100%;
}

body{
  background-image: url('https://images.squarespace-cdn.com/content/v1/56f3cee24c2f85b240a04c35/1551798561599-OBJRQJ6A2GGGBWXV0ZOU/ke17ZwdGBToddI8pDm48kFTEgwhRQcX9r3XtU0e50sUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc2PPwcWkLXq-DNe4zpT7he0M_zRUr6912vvtObYWjAW-pUdJURR5nHbHpk7AZw8X9/website-background.gif?format=1500w');
  background-size: 100% 100%;
  height: 100%;
}

.main-wrapper{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 5px;
  grid-template-columns: 400px;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.grid-item1{
  grid-column: 1 / 2;
  justify-self: center;
  align-content: center;
  text-align: center;
  background-color: #63c2e3;
  border: 1px solid #dddddd;
}

.form-title{
  color: #fff;
  font-size: 2em;
}

.grid-item2{
  color: #fff;
  grid-column: 1 / 2;
  justify-self: center;
}

.grid-item3{
  justify-self: center;
  grid-column: 1 / 2;
}

.grid-item4{
  justify-self: center;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: auto;
}

.div-grid-item1{
  justify-self: end;
  grid-row: 1 / 2;
}

.div-grid-item2{
  justify-self: end;
  grid-row: 1 / 2;

}

.grid-item5{
  justify-self: center;
  grid-column: 1 / 2;
  box-sizing: border-box;
  padding: 5px;
}

.grid-item6{
  justify-self: center;
  grid-column: 1 / 2;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  box-sizing: border-box;
  border: 5px solid #fff;
}
    
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  color: black;
}

tr:nth-child(even) {
  background-color: #63c2e3;
}

.button{
  background-color: #e14f49;
  grid-column: 1 / 3;
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
  width: 100%;
  border: 0;
}

.button:hover{
  background-color: #923431;
}

.submit-button:hover{
  background-color: #923431;
  color: #fff;
}

input{
  border: 1px solid #e14f49;
  background-color: #ffffff;
  padding: 10px;
  color: #e14f49;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input:focus{
  background-color: #aa3d39;
  color: #fff;
}
